<!DOCTYPE html>
<html>
<head>
  <title>Grafika</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- css reference-->
  <link rel="stylesheet" href="/styles/tutorial.css" media="screen" title="no title" charset="utf-8">

  <!-- javascript refence-->
  <script src="/js/tutorial.js" charset="utf-8"></script>

  <!-- React -->
  <script src="https://unpkg.com/react@15.3.1/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>

  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" ></script>

  <!-- bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<style media="screen">

</style>

<body class="body">

  <!-- Menu partial -->
  <%= render 'partial-tutorial/menu' %>

  <!-- Start Yield Area -->
  <div class="container" id="container">
    <div id="yield">
      <%= yield %>
    </div>
  </div>


</body>
</html>
